.top-btn {
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  letter-spacing: -0.2px;
  margin-right: 35px;
  text-decoration: none;
  float: right;
  font-family: 'AvenirMedium';
}

.top-btn:hover {
  color: white;
}

.main-logo {
  width: 96px;
  height: 74px;
  margin-left: 35px;
}

.steps {
  color: white;
  font-size: 12px;
  font-family: 'AvenirMedium';
}

.checkbox {
  color: white;
  font-size: 12px;
  font-family: 'AvenirMedium';
}

.small-text {
  color: white;
  font-size: 12px;
}

.small-text-resend {
  color: white;
  font-size: 13px;
}

.email-resend {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.email-resend:hover {
  color: white;
}
.resend-code {
  height: 87px;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: 300;
  text-align: center;
  text-indent: 15px;
  caret-color: transparent;
  background-color: #353535;
  border: 1px solid #353535;
  color: #fff;
  font-family: 'AvenirLight';
}

.last-form-text {
  color: white;
  font-size: 12px;
}

.subscription {
  border-radius: 4px;
  background-color: #2d2d2d;
  color: #fff;
  align-items: center;
  padding-left: 17px;
  padding: 12px 24px 15px 16px;
  width: 100%;
  height: 68px;
}

.form-check-input {
  margin-left: 45px;
  margin-top: 10px;
}
